.page{
    top: 0;
    left: 0;
    background-color: white;
    height: 98vh;
}

.analysis-div {
  width: 100%;
  text-align: center;
}

thead {
  background-color: dimgray;
  color: white;
}

.analysis-table,
th,
td {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.print-btn{
    padding: 20px 70px;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: burlywood;
}

.print-btn:hover{
    background-color: goldenrod;
    transition: 200ms;
}