.form-div {
  margin: 20px;
  display: grid;
}

.add-form {
  width: 80%;
  margin: auto;
  row-gap: 60px;
  display: flex;
  flex-direction: column;
}

.word-area {
  display: flex;
  width: 70%;
  justify-content: center;
  gap: 30px;
  margin: auto;
  @media (max-width: 900px) {
    flex-direction: column;
    width: 100%;
  }
}

.add-word {
  width: 90%;
  padding: 15px;
  outline: none;
}

.translate {
  width: 90%;
  padding: 15px;
  outline: none;
}

.sentence {
  width: 70%;
  margin: auto;
  border: none;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  outline: none;
}

.sentence:focus {
  border: none;
}

.btn-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.img-file {
  cursor: pointer;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.submit-btn {
  padding: 15px 30px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  border: none;
  background-color: darkgreen;
  border-radius: 50px;
  color: white;

  @media (min-width: 900px) {
    width: 30%;
  }
}
.submit-btn:hover {
  scale: 1.05;
  transition: 300ms;
}

.input {
  border-radius: 20px;
  border: 1px solid;
}

.input:hover {
  transition: 300ms;
  background-color: antiquewhite;
}

.input:focus {
  background-color: antiquewhite;
}

.addword-correct {
  color: green;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  display: none;
}

.addword-wrong {
  color: crimson;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  display: none;
}

.text-image {
  width: 50%;
  margin: auto;
  padding: 15px 20px;
  outline: none;
  border-radius: 20px;
  border: 1px solid;
  @media (max-width: 900px) {
    width: 90%;
  }
}

.text-image:hover {
  transition: 300ms;
  background-color: antiquewhite;
}

.text-image:focus {
  background-color: antiquewhite;
}

.category-area{
  margin: auto;
}
select{
  border-radius: 20px;
}