.table{
  text-align: center;
  margin-top: 20px;
}

.word-table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-size: large;
}

.word-table {
  width: 90%;
  margin: 70px auto;
  margin-bottom: 20px;
}

.word-table tbody tr:nth-child(odd) {
  background-color: antiquewhite;
}

.word-table tbody tr:nth-child(even) {
  background-color: white;
}

.word-table thead tr {
  background-color: dimgrey;
  color: white;
}

.finished-area {
  margin-top: 70px;
  text-align: center;
}

.table-header {
  background-color: white;
  width: 20%;
  margin: auto;
  padding: 5px;
  border-radius: 50px;
  @media (max-width:900px) {
    width: 70%;
  }
}

.finished-area p{
  background-color: white;
  width: 50%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;
}